<h1>Seja bem vindo</h1>
<ul>
  <li><a href="localhost:3000/kinds">tipos</a></li>
  <li><a href="localhost:3000/contacts">contatos</a></li>
  <li><a href="localhost:3000/addresses">endereco</a></li>
  <li><a href="localhost:3000/phones">telefones</a></li>
</ul>
